*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  padding: 1em;
  background-color: #d6c9ff;
}

h1 {
  text-align: center;
  margin: 1em 0;
  margin-bottom: 1rem;
  color: #b45880;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 1440px;
}

.product-card {
  display: grid;
  flex-direction: column;
 

  border-radius: 2rem;
  background-color: lavender;
}

.product-img {
  width: 100%;
  max-width: 500px;
  border-radius: 2rem;
  background-color: #c9ffe2;
}

.product-title{
  gap: 1rem;
  padding: 1rem;

  text-align: left;
  font-size: 2em;
  color: #ff789d;
}

.product-description {
  gap: 1rem;
  padding: 1rem;

  text-align: left;
  line-height: 1.5em;
}

.buy-button {
  background-color: #ffc4d0;
  border: none;
  padding: 0.5em .75em;
  border-radius: 2rem;
  cursor: pointer;
  transition: bacground-color 0.3seg;
  align-self: flex-start;
}

.buy-button:hover {
  background-color: #fb7993;
}

/* pantallas */

@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2,1fr);
    padding: 0.5em;
  }
}

@media screen and (max-width: 435px) {
  .container {
    grid-template-columns: repeat 1fr;
  }

  .product {
    margin: 0 auto;
    gap:5em
  }
}
